<div class="my__card">
  <h3 class="first">Revisoes Cadastradas</h3>
  
  <br/>
  
  <p-dataTable [value]="list" [globalFilter]="filter" #dt selectionMode="single">
    <p-column field="titulo" header="Titulo" [filter]="true" 
    	[style]="{'text-align':'left'}"
    	filterMatchMode="contains" [sortable]="true">
    </p-column>
    
    <p-column field="status" header="Status" [filter]="true" 
    	[style]="{'text-align':'left'}"
    	filterMatchMode="contains" [sortable]="true">
    </p-column>
    
    <p-column field="inicio" header="Data de Inicio" [filter]="true" 
    	[style]="{'text-align':'left'}"
    	filterMatchMode="contains" [sortable]="true">
    	
    	<template let-col let-appdt="rowData" pTemplate="body">
            <span>{{appdt[col.field] | date:"dd/MM/yyyy"}}</span>
        </template>
    	
    </p-column>
    
    <p-column field="fim" header="Data de Fim" [filter]="true" 
    	[style]="{'text-align':'left'}"
    	filterMatchMode="contains" [sortable]="true">
    	
    	<template let-col let-appdt="rowData" pTemplate="body">
            <span>{{appdt[col.field] | date:"dd/MM/yyyy"}}</span>
        </template>
    	
    </p-column>
    
    <p-column field="ativo" header="Revisao Ativa?" [filter]="true" 
    	[style]="{'text-align':'left'}"
    	filterMatchMode="contains" [sortable]="true">
    	
    	<template let-col let-appdt="rowData" pTemplate="body">
            <span>{{appdt[col.field] ? 'Sim' : 'Nao'}}</span>
        </template>
    	
    </p-column>
  </p-dataTable>
</div>
