<form #f="ngForm" class="setor-body">
  <div class="my__card setor-panel ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12">
	    <label>Nome do Setor:</label>
        <input type="text" autocomplete="off" name="nome" required [(ngModel)]="setor.nome" autofocus
               #nome size="92" 
               (keyup.enter)="register()">

      </div>
      <div class="ui-g-2">
      </div>
      <div class="ui-g-4">
        <button pButton type="button" (click)="salvar()" class="ui-button-success" label="Registrar"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" (click)="cancelar()" class="ui-button-danger" label="Cancelar"></button>
      </div>
      <div class="ui-g-2">
      </div>
    </div>
  </div>
</form>
