<div class="my__card">
  <h3 class="first">Lista de Usuários</h3>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #filter type="text" autofocus pInputText size="50" placeholder="Global Filter">
  </div>
  
  <p-dataTable [value]="list" [globalFilter]="filter" #dt selectionMode="single">
    <p-column field="username" header="Login" [style]="{'text-align':'left'}" [sortable]="true"></p-column>
    <p-column field="email" header="E-mail" [style]="{'text-align':'left'}" [sortable]="true"></p-column>
  </p-dataTable>
</div>
