<form #f="ngForm" class="login-body">
  <div class="my__card login-panel ui-fluid" >
    <div class="ui-g">
      <div class="ui-g-12">
        <img src="assets/img/unp_banner.gif">
        <h3 class="first">Login</h3>
        <input type="text" autocomplete="off" pInputText name="username" required [(ngModel)]="user.username" autofocus
               #username
               (keyup.enter)="password.focus()"
               class="ui-inputtext ui-corner-all ui-state-default ui-widget ng-dirty ng-invalid">

        <h3 class="first">Senha</h3>
        <input type="password" name="password" required [(ngModel)]="user.password" pInputText #password
               (keyup.enter)="login()"
               autocomplete="off"
               class="ui-inputtext ui-corner-all ui-state-default ui-widget ng-dirty ng-invalid">

        <p-messages [value]="msgs"></p-messages>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" (click)="login()" class="ui-button-success" label="Entrar" >        </button>
      </div>
    </div>
  </div>
</form>
