<form #f="ngForm" class="revisao-body">
  <div class="my__card revisao-panel ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12">
      	
      	<label>Data de Início:</label>
      	<input type="date" id="exampleInput" name="Inicio" [(ngModel)]="revisao.inicio"
       		placeholder="yyyy-MM-dd" required />
       	
       	<label>Data de Fim:</label>
      	<input type="date" id="exampleInput" name="Fim" [(ngModel)]="revisao.fim"
       		placeholder="yyyy-MM-dd" required />
      	
      	<label>Status:</label>
        <input type="text" size="20" autocomplete="off" name="status" required [(ngModel)]="revisao.status"
               #status
               (keyup.enter)="titulo.focus()">
      
      	<br/><br/>
        <label>Título:</label>
        <input type="text" size="100" autocomplete="off" name="titulo" required [(ngModel)]="revisao.titulo" autofocus
               #titulo>
        
        <br/><br/>
        <label>Revisão Ativa?</label>
        <input type="radio" name="ativo" value="true" [(ngModel)]="revisao.ativo"/> Sim
		<input type="radio" name="ativo" value="false" [(ngModel)]="revisao.ativo"/>  Não

      </div>
      
      <div class="ui-g-2" style="text-align: center;">
      </div>
      <div class="ui-g-4" style="text-align: center;">
     	<button pButton type="button" (click)="salvar()" class="ui-button-success" label="Salvar"></button>
      </div>
      <div class="ui-g-4" style="text-align: center;">
     	<button pButton type="button" (click)="cancelar()" class="ui-button-danger" label="Cancelar"></button>
      </div>
      <div class="ui-g-2" style="text-align: center;">
      </div>
    </div>
  </div>
</form>
