<form #f="ngForm" class="aprovador-body">
  <div class="my__card aprovador-panel ui-fluid">
    <div class="ui-g">
      
      <div class="ui-g-1">
	  	<label>Usuario:</label>
      </div>
      <div class="ui-g-11">
        <input type="text" autocomplete="off" name="usuario" required [(ngModel)]="user.username" autofocus
               size="92" #searchBox id="search-box" (keyup)="searchUser(searchBox.value)" 
               (keyup.enter)="setor.focus()">
       	 <div>
		    <div *ngFor="let u of users | async"
		         class="search-result" >
		      {{hero.name}}
		    </div>
		 </div>
      </div>
      
      <div class="ui-g-1">
	  	<label>Setor:</label>
      </div>
      <div class="ui-g-11">
	    <input type="text" autocomplete="off" name="setor" required [(ngModel)]="setor.nome" autofocus
               #nome size="92" 
               (keyup.enter)="register()">
      </div>
      
      <div class="ui-g-2">
      </div>
      <div class="ui-g-4">
        <button pButton type="button" (click)="salvar()" class="ui-button-success" label="Registrar"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" (click)="cancelar()" class="ui-button-danger" label="Cancelar"></button>
      </div>
      <div class="ui-g-2">
      </div>
    </div>
  </div>
</form>
