<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

	<ul class="sidebar-menu">
      
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li routerLink="/register" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Cadastrar</span>
	        </a>
	      </li>
          <li routerLink="/users" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Listar/Alterar</span>
	        </a>
	      </li>
        </ul>
      </li>
      
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Revisoes</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li routerLink="/revisao" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Cadastrar</span>
	        </a>
	      </li>
          <li routerLink="/revisaolist" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Listar/Alterar</span>
	        </a>
	      </li>
        </ul>
      </li>
      
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Setor</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li routerLink="/setor" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Cadastrar</span>
	        </a>
	      </li>
          <li routerLink="/setorlist" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Listar/Alterar</span>
	        </a>
	      </li>
        </ul>
      </li>
      
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Aprovador</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li routerLink="/aprovador" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Cadastrar</span>
	        </a>
	      </li>
          <li routerLink="/aprovadorlist" routerLinkActive="active">
	        <a>
	          <i class="fa fa-link"></i>
	          <span>Listar/Alterar</span>
	        </a>
	      </li>
        </ul>
      </li>

    </ul>
    
  </section>

</aside>
